<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">

<div id="home-container">
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if (locals.user){ %>
            <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" cols="30" rows="3" placeholder="Start typing..." required></textarea>
                <input type="submit" value="Post">
            </form>
            <% } %>

                <div id="posts-list-container">
                    <ul>
                        <% for(post of posts){%>
                            <%- include('_post') -%>
                                <%} %>
                    </ul>
                </div>
    </section>

    <section id="user-friends">
        <h4>Friends</h4>
        <% for (u of all_users) {%>
            <p>
                <a href="/profile/<%= u.id %>">
                    <%= u.name %>
                </a>
            </p>
            <%}%>
    </section>
    
    <%- include('_chat_box') -%>

    <!-- <aside id="chatBox">
        <div class="container">
            <div class="message-container">
                <div class="mini-container1">
                    <div class="other-msg">
                        Other Message
                    </div>
                </div>
                <div class="mini-container2">
                    <div class="self-msg">
                        Self Message
                    </div>
                </div>
            </div>

        <div class="input-container">
            <form action="">
            <input type="text" id="chat-input" placeholder="Enter message here">
            <input type="submit" id="send-btn" value="Send">
            </form>
        </div>
        </div>
    </aside> -->
</div>
<script src="/js/home_post_comments.js" ></script>
<script src="/js/home_posts.js" ></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>